<h1>Active Games</h1>

<ul class="list-unstyled">
	{{#each existing}}
	<li>
		<strong>{{game.name}}</strong> run by <strong>{{runner.username}}</strong> with <em>{{player_count}} players</em>
		<a href="/activity/run/{{_id}}" class="btn btn-success"><span class="glyphicon glyphicon-send"></span> Host</a>
		<a href="/activity/delete/{{_id}}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
		<a href="/activity/join/{{_id}}" class="btn btn-primary"><span class="glyphicon glyphicon-play"></span> Play</a>
	</li>
	{{/each}}
	{{#unless count}}
	<li>No current games</li>
	{{/unless}}
</ul>

